@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IPreferences Preferences

<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    protected override void OnInitialized()
    {
        string currentUser = Preferences.Get("Username", string.Empty);
        NavigationManager.NavigateTo(string.IsNullOrWhiteSpace(currentUser) ? "/auth" : "/booking");
    }
}
